@charset "utf-8";
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
::-moz-selection {
background: #366284;
color: white;
}
::selection {
background: #366284;
color: white;
}
body {
background: url(img/brickwall.png) repeat;
background-size: contain;
height: 8vh;
margin: 0px 0vh 0%;
padding:
}


.image
{
background-image: url(img/header-bg-01.jpg);
background-size: cover;
background-position: center center;
width : 100%;
height : 100vh;
}

.arc
{
    background-image: url(icon/arc.svg) ;
    background-size: cover;
    background-position: center;
    position : absolute ;
    opacity: 0.9;
    bottom:  0vh;
    width : 100%;
    height : 185px; 
}
.bottom{
height: 150px;
width: 70%;
padding-top:75vh;
}
#bottom1{
height: 150px;
background-image: url(icon/bottom1-1.png);
background-repeat: no-repeat;
background-position: center center;

}
.bottomhover1{
height: 150px;
background-image: url(icon/bottom1-2.png);
background-repeat: no-repeat;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.bottomhover1:hover{
opacity:0;
transition:all 0.5s;
}
#bottom2{
height: 150px;
background-image: url(icon/bottom2-1.png);
background-repeat: no-repeat;
background-position: center center;
}
.bottomhover2{
height: 150px;
background-image: url(icon/bottom2-2.png);
background-repeat: no-repeat;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.bottomhover2:hover{
opacity:0;
transition:all 0.5s;
}
#bottom3{
height: 150px;
background-image: url(icon/bottom3-1.png);
background-repeat: no-repeat;
background-position: center center;
}

.bottomhover3{
height: 150px;
background-image: url(icon/bottom3-2.png);
background-repeat: no-repeat;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.bottomhover3:hover{
opacity:0;
transition:all 0.5s;
}

#bottom4{
height: 150px;
background-image: url(icon/bottom4-1.png);
background-repeat: no-repeat;
background-position: center center;
}
.bottomhover4{
height: 150px;
background-image: url(icon/bottom4-2.png);
background-repeat: no-repeat;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.bottomhover4:hover{
opacity:0;
transition:all 0.5s;
}
.contentbBox{
height: 100vh;
}
#content1{
padding-top: 15%;
}

#coldtext1{
padding-top: 200px;
margin-bottom: 65px;
font-family: "微軟正黑體";

}
#tab1{
    height: 505px;
    background-color: #4F4140;
    padding: 0;
    margin-bottom: 150px;
    font-family: "微軟正黑體";
    color: white;
}
.nav-item .nav-link{
        color: white;
}
.ColdPressUL{
    height: 75px;
    color: white;
    line-height: 60px;
    font-size: 24px;
    background-color: yellow;
    margin: 0;
    padding: 0;
}
.ColdPressLI01{
    color: white;
    background-color: #CCB5B4;
    float: left;
    padding: 0;
}
.ColdPressLI02{
    color: white;
    background-color: #876F6D;
    float: right;
    padding: 0;
}
.nav-pills .nav-link.active,
.show > .nav-pills .nav-link {
    height: 75px;
  color: #fff;
  background-color: #4F4140;
}
.nav-pills .nav-link {
  border-radius: 0rem;
}
.ColdpressContent{
    padding: 50px;
}
#pills-tabContent .font-weight-bold{
    margin-bottom: 50px;
}
.ColdAbout{
    line-height: 35px;
    letter-spacing: 5px;
}
#content2{
padding-top: 15vh;
font-family: "微軟正黑體";
}

#content3{
padding-top: 15vh;	
}
#picboxall{
margin-left: auto;
margin-right: auto;
margin-bottom: 10vh;

}


#pic1{
height: 350px;
background-image: url(img/pic01.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}

.hover1{
height: 350px;
background-image: url(img/pichover01.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover1:hover{
opacity:0;
transition:all 0.5s;
}

#pic2{
height: 350px;
background-image: url(img/pic02.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover2{
height: 350px;
background-image: url(img/pichover02.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover2:hover{
opacity:0;
transition:all 0.5s;
}
#pic3{
height: 350px;
background-image: url(img/pic03.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover3{
height: 350px;
background-image: url(img/pichover03.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover3:hover{
opacity:0;
transition:all 0.5s;
}
#pic4{
height: 350px;
background-image: url(img/pic04.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover4{
height: 350px;
background-image: url(img/pichover04.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover4:hover{
opacity:0;
transition:all 0.5s;
}
#pic5{
height: 350px;
background-image: url(img/pic05.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover5{
height: 350px;
background-image: url(img/pichover05.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover5:hover{
opacity:0;
transition:all 0.5s;
}
#pic6{
height: 350px;
background-image: url(img/pic06.jpg);
background-size: cover; 
background-position: center center;
margin-bottom: 10%; 

}
.hover6{
height: 350px;
background-image: url(img/pichover06.jpg);
background-size: cover;
background-position: center center;
transition:all 1s;
border-radius:5px;
}
.hover6:hover{
opacity:0;
transition:all 0.5s;
}
#content4{
padding-top: 15vh;
padding-bottom: 15vh;
}

#map{
height: 450px;


}
#time{
height: 450px;
background-image: url(img/address.png);
background-color: white;
font-family: "微軟正黑體";

}
#footer{
background-color: #C6B999;
font-family: "微軟正黑體";
}

#footer_logo{
    height: 150px;
    background-image: url(icon/LOGO.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

#footer_farm{
    height: 150px;
    background-color: #7FFF8E;
}

#footer_copyright{
    height: 150px;
    background-color: #FF6A00;
}

/* MENU
----------------------------------------*/
nav {
z-index: 99999;
position: fixed;
height: 15vh;
line-height: 15vh;
width: 100%;
font-size: 1.3em;
font-family: 'Raleway', sans-serif;
font-weight: 700;
background: rgba(255, 255, 255, 0.9);
box-shadow: 0 0 10px #4b4b4b;


}
nav img {
margin-top: 0.5vh;
}
nav .rest {
text-align: right;
}
nav:hover {
background: rgba(255, 255, 255, 0.8);
}
nav img {
height: 12vh;
width: auto;
transition: 0.2s;
}
nav img:hover {
transform: scale(1.1);

transition: 0.2s;
}
nav .text-menu {
display: flex;
flex-flow: wrap row;
justify-content: space-around;

}
nav p {
display: inline;
position: relative;
}
nav > div > div > div > div > a {
display: block;
font-family: '微軟正黑體', sans-serif;
font-weight: 700;
font-size: 1em;
text-transform: uppercase;
color: #13222E;
text-decoration: none;
transition: .1s;
}
nav > div > div > div > div > a:hover {
color: #6f6f6f;
}
nav a:hover+ul, nav a+ul:hover {
opacity: 1;
visibility: visible;
}
nav .slash {
color: #d5d5d5;
}
nav .fa {
display: none;
color: #366284;
font-size: 7vh;
margin-top: 3.75vh;
}
@media (max-width: 798px) {

nav .text-menu {
position: absolute;
top: -85vh;
left: 0;
background: white;
width: 100%;
height: 85vh;
text-align: center;
transition: 0.5s;
z-index: -1;
}

nav .text-menu * {
height: 12vh;
}

nav .menu-appear {
position: absolute;
top: 15vh;
transition: 0.5s;
}

nav .fa {
display: block;
}

nav .six {
width: 48%;
}

nav .text-menu {

display: flex;
flex-flow: wrap column;
position: absolute;
top: -85vh;
left: 0;
background: white;
width: 100%;
height: 85vh;
text-align: center;
transition: 0.5s;
z-index: -1;
}

nav .text-menu * {
height: 12vh;
}

nav .text-menu a:hover+ul {
display: none;
}

nav .menu-appear {
position: absolute;
top: 15vh;
transition: 0.5s;
}

nav .fa {
display: block;
}


.image
{
background-image: url(img/header-bg-phone.jpg);
background-size: cover;
background-position: center center;
width : 100%;
height : 100vh;
}
.bottom{
display: none;
}
.arc{
display: none;
}

#pic1{
height: 280px;
background-image: url(img/pic0.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}

.hover1{
display: none;
}
.hover1:hover{
display: none;
}

#pic2{
height: 280px;
background-image: url(img/pic02.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover2{
display: none;
}
.hover2:hover{
display: none;
}
#pic3{
height: 280px;
background-image: url(img/pic03.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover3{
display: none;
}
.hover3:hover{
display: none;
}
#pic4{
height: 280px;
background-image: url(img/pic04.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover4{
display: none;
}
.hover4:hover{
display: none;
}
#pic5{
height: 280px;
background-image: url(img/pic05.jpg);
background-size: cover;
background-position: center center;
margin-bottom: 10%;
}
.hover5{
display: none;
}
.hover5:hover{
display: none;
}
#pic6{
height: 280px;
background-image: url(img/pic06.jpg);
background-size: cover; 
background-position: center center;
margin-bottom: 10%; 

}
.hover6{
display: none;
}
.hover6:hover{
display: none;
}

}

nav .row  {
width: 95%;
margin: 0 auto;
text-align: center;
}
.quarter, .rest {
text-align: left;
line-height: 15vh;
float:left;
}
.quarter {
width: 23%;
}
.rest {
width: 73%;
}

